---
import Sidebar from '../navigation/Sidebar.astro';
import type { ContentTemplate } from '../../types/ContentTemplate';

interface Props {
	content: ContentTemplate;
}

const { content } = Astro.props;
---

<div class="content-layout">
	<Sidebar sections={content.sections} />
	<div class="main-content">
		<slot />
	</div>
</div>
