---
import ApiContentLayout from '../../layouts/ApiContentLayout.astro';
import BlogCard from '../../components/BlogCard.astro';

const allBlogs = await Astro.glob('../blog/*.md');
---
<ApiContentLayout>
	<h2>Blog</h2>
	<div class="text-xl">
		<p>Putting things to paper helps me think. Come here to watch the sausage get made.</p>
		<ul class="flex flex-wrap max-w-max" role="list">
			{allBlogs.reverse()
				.map(({frontmatter, Content}) => (
					<BlogCard frontmatter={frontmatter} Content={Content} />
				))}
		</ul>
	</div>
</ApiContentLayout>
