---
import ContentContainer from '../../components/ContentContainer.astro';
import myWork from '../../content/myWork.ts';
---
<div class="w-full max-w-7xl mx-auto">
	<ContentContainer containerContent={myWork}></ContentContainer>
</div>
