---
import ContentContainer from '../../components/ContentContainer.astro';
import shoutouts from '../../content/shoutouts';
---
<div class="w-full max-w-7xl mx-auto">
	<ContentContainer containerContent={shoutouts}></ContentContainer>
</div>
