---
import { getCollection } from 'astro:content';
import Card from '../../components/Card.astro';
import ApiContentLayout from '../../layouts/ApiContentLayout.astro';

const allTestimonials = await getCollection('testimonials');
---
<ApiContentLayout>
	<h2>Testimonials</h2>
	<div class="text-xl">
		<p>This is a collection of testimonials from people that I have worked with.</p>
		<ul class="flex flex-wrap max-w-max" role="list">
			{allTestimonials.map(async (testimonial) => {
				const { Content } = await testimonial.render();
				return (
				<Card>
					<article id={testimonial.data.title}>
						<Content />
					</article>
				</Card>
				);
			})}
		</ul>
	</div>
</ApiContentLayout>
