---
interface Props {
	maxWidth?: string;
	[key: string]: any;
}

const { maxWidth = 'max-w-lg', ...rest } = Astro.props;
---
<li
	class={`outline-solid outline-2 outline-green-700 w-full ${maxWidth} m-4 p-2 rounded-lg transition-all duration-300 hover:outline-green-500 hover:shadow-lg hover:shadow-green-900/50 hover:-translate-y-1 hover:scale-[1.02]`}
	{...rest}
>
	<slot />
</li>
