---
const links = [
    {
        name: 'LinkedIn',
        url: 'https://www.linkedin.com/in/pendragonjoshuag/'
    },
    {
        name: 'GitHub',
        url: 'https://github.com/graffhyrum'
    },
    {
        name: 'Email Me',
        url: "mailto:pendragon.josh@gmail.com"
    }
]
---
<footer class="h-max *:col-auto flex flex-row justify-end items-center">
    <p class="text-[0.8rem] w-max m-[2%]"> Est. 2023.</p>
    <div class="flex flex-row gap-x-2">
        <h2 class="w-min">Links</h2>
        <nav class="flex items-center *:px-2 *:text-xl ">
            {links.map(({ name, url }) => (
                <a target="_blank" href={url}>{name}</a>
            ))}
        </nav>
    </div>
</footer>