---
import {Image} from 'astro:assets';
import headshot from '../assets/headshot_sm.webp';
import Navigation from './Navigation.astro';
---

<header class="h-max p-2 flex *:mx-3 items-center">
    <Image class="rounded-full hidden sm:block"
           src={headshot}
           alt="Headshot of Joshua Pendragon"
           data-testid="Headshot"/>
    <h1 class="text-4xl max-w-max mt-2 sm:mt-0">Joshua Pendragon</h1>
    <Navigation class="mt-2 sm:mt-0"/>
</header>