---
import { Picture } from 'astro:assets';
import headshot from '../assets/headshot_sm.webp';
import Navigation from './navigation/Navigation.astro';
import ThemeToggle from './ThemeToggle.astro';
---

<header class="relative h-max p-2 sm:p-4 flex flex-col sm:flex-row *:mx-3 items-center">
	<div class="absolute top-2 right-2 sm:static sm:order-last sm:ml-auto">
		<ThemeToggle />
	</div>
	<Picture
		class="rounded-full w-12 h-12 sm:w-16 sm:h-16 transition-all duration-500 hover:scale-110 hover:rotate-6 hover:shadow-lg hover:shadow-green-500/50"
		src={headshot}
		formats={['avif', 'webp']}
		widths={[48, 64, 96, 128]}
		sizes="(max-width: 640px) 48px, 64px"
		alt="Headshot of Joshua Pendragon"
		loading="eager"
		data-testid="Headshot"
	/>
	<h1 class="text-2xl sm:text-4xl max-w-max mt-2 sm:mt-0 text-center sm:text-left delay-100">Joshua Pendragon</h1>
	<Navigation class="mt-2 sm:mt-0"/>
</header>
