---
const {pageTitle} = Astro.props;
import '../../public/favicon_io/favicon.ico'
import '../../public/favicon_io/favicon-32x32.webp'
import '../../public/favicon_io/favicon-16x16.webp'
import "../../public/favicon_io/site.webmanifest"
---

<head>
    <title>{pageTitle}</title>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/ico" href="/favicon_io/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta name="generator" content={Astro.generator}/>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.webp">
    <link rel="icon" sizes="32x32" href="/favicon_io/favicon-32x32.webp">
    <link rel="icon" sizes="16x16" href="/favicon_io/favicon-16x16.webp">
    <link rel="manifest" href="/favicon_io/site.webmanifest">
</head>