---
const { pageTitle }= Astro.props;
import '../../public/favicon_io/favicon.ico'
import '../../public/favicon_io/favicon-32x32.png'
import '../../public/favicon_io/favicon-16x16.png'
import "../../public/favicon_io/site.webmanifest"
---

<head>
    <title>{pageTitle}</title>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/ico" href="../../public/favicon_io/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta name="generator" content={Astro.generator}/>
    <link rel="apple-touch-icon" sizes="180x180" href="../../public/favicon_io/apple-touch-icon.png">
    <link rel="icon" sizes="32x32" href="../../public/favicon_io/favicon-32x32.png">
    <link rel="icon" sizes="16x16" href="../../public/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../../public/favicon_io/site.webmanifest">
    <script src="../../public/scripts/prism.js"></script>
    <script src="../../public/scripts/htmx.min.js"></script>
</head>