---
import '../styles/styles.css'
// todo generate this list automatically from the files in /pages
---
<nav>
    <ul class="flex flex-wrap items-start p-0 *:px-3" role="directory">
        <li><a href="/">Home</a></li>
        <li><a href="/bookshelf/">Bookshelf</a></li>
        <li><a href="/myWork/">My Work</a></li>
        <li><a href="/shoutouts/">Shoutouts</a></li>
        <li><a href="/testimonials/">Testimonials</a></li>
        <li><a href="/blog/">Blog</a></li>
    </ul>
</nav>