---
import '../styles/styles.css';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';

const { pageTitle } = Astro.props;
---

<html class="scroll-smooth" lang="en">
<Head pageTitle={pageTitle}/>
<body class="bg-green-950 flex flex-col h-screen m-0 leading-loose font-sans box-border text-[rgb(207,207,207)] divide-y divide-green-700/80"
      style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-family: 'Roboto', sans-serif;">
<Header/>
<main role="main" class="relative grow h-max row-2 justify-items-stretch px-2 overflow-y-auto">
	<slot/>
</main>
<Footer/>
<script is:inline src="/scripts/htmx.min.js"></script>
</body>
</html>
