---
import '../styles/styles.css';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';

const { pageTitle } = Astro.props;
---

<html class="scroll-smooth" lang="en">
<Head pageTitle={pageTitle}/>
<body class="bg-green-200 dark:bg-green-950 flex flex-col h-screen m-0 leading-loose font-sans box-border text-gray-900 dark:text-gray-100 divide-y divide-green-200 dark:divide-green-700/80 transition-colors duration-300"
      style="font-family: 'Roboto', sans-serif;">
<style>
	html.dark body {
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}
</style>
<Header/>
<main id="main-content" role="main" class="relative grow h-max row-2 justify-items-stretch px-4 overflow-y-auto">
	<slot/>
</main>
<Footer/>
<script is:inline src="/scripts/htmx.min.js"></script>
</body>
</html>
